* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.main__contenedor{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.contenedor__banner{
    width: 100%;
    min-height: 10vh;
    max-height: 10vh;
    background-color: #66d16c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}


.logo-1{
    margin-left: 2rem;
}


.logo-2{
    margin-right: 2rem;
}

.logo-1 img{
    max-width: 100%;
    height: auto;
}

.logo-2 img{
    max-width: 100%;
    height: auto;
}

.contenedor__principal{
    width: 100%;
    min-height: 90vh;
    background-color: aquamarine;
}

.principal__superior{
    display: flex;
    flex-direction: row;
    min-height: 30vh;
}

.superior__semaforo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    width: 30%;
    background-color: pink;
}

.semaforo_btn{
    min-height: 1rem;
}

.btn-verde {
    width: 10vw;
    max-width: 150px;
    min-width: 8rem;
    height: 2vh;
    max-height: 50px;
    min-height: 20px;
    background-color: green;
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-rojo{
    width: 10vw;
    max-width: 150px;
    min-width: 80px;
    height: 2vh;
    max-height: 50px;
    min-height: 20px;
    background-color: rgb(175, 13, 13);
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-amarillo{
    width: 10vw;
    max-width: 150px;
    min-width: 80px;
    height: 2vh;
    max-height: 50px;
    min-height: 20px;
    background-color: rgb(232, 245, 55);
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
}



.superior__grafico1{
    width: 40%;
    background-color: orange;


    
}
.superior__grafico2{
    width: 40%;
    background-color: green;

    
}

.principal__inferior{
    display: flex;
}


.principal__inferior-izq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-height: 60vh;
    background-color: blueviolet;
}

.principal__inferior-der{
    width: 80%;
    min-height: 60vh;
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
}

