{% extends "core/index_admin.html" %}
{% load static %}


{% block title %}Constantes{% endblock title %}

{% block content %}     
<div id="contenido__principal" class="contenido__principal">
    <div class="principal__superior">
        <div class="superior__botones">
            <button id="boton1" class="botones" onclick="cambiarColor(this); cambiarIframe('https://foodcorp.sgen.ingero.cloud:3000/d-solo/dehpikez07x8gc/lineas-bases?orgId=1&from=1743756092365&to=1743777692365&timezone=browser&var-query0=2&theme=light&panelId=1&__feature.dashboardSceneSolo')">LÍNEAS BASES ENERGÉTICAS</button>
            <button id="boton2" class="botones" onclick="cambiarColor(this); cambiarIframe('https://foodcorp.sgen.ingero.cloud:3000/d-solo/eehwaaveo8c8wc/omp?orgId=1&from=1743755375608&to=1743776975608&timezone=browser&theme=light&panelId=1&__feature.dashboardSceneSolo')">OBJETIVOS METAS Y PLANES (OMP)</button>
            <button id="boton3" class="botones" onclick="cambiarColor(this); cambiarIframe('https://foodcorp.sgen.ingero.cloud:3000/d-solo/cehpw1ui0efwgb/factores-conversion?orgId=1&from=1743756114788&to=1743777714788&timezone=browser&var-query0=2&var-query1=2&theme=light&panelId=1&__feature.dashboardSceneSolo')">CONSTANTES FÍSICAS</button>
        </div>
    </div>


    <div class="principal__inferior">
        <div class="inferior__tabla">
            <iframe id="miIframe" class="d3" src="https://foodcorp.sgen.ingero.cloud:3000/d-solo/dehpikez07x8gc/lineas-bases?orgId=1&from=1743756092365&to=1743777692365&timezone=browser&var-query0=2&theme=light&panelId=1&__feature.dashboardSceneSolo"></iframe>
        </div>
    </div>
</div>


<script>
    function cambiarIframe(nuevaURL) {
        document.getElementById("miIframe").src = nuevaURL;
    }
</script>
{% endblock content %}

