{% extends "core/index_admin.html" %}
{% load static %}


{% block title %}Constantes{% endblock title %}

{% block content %}     
<div id="contenido__principal" class="contenido__principal">
    <div class="principal__superior">
        <div class="superior__botones">
            <button class="botones" onclick="cambiarColor(this); cambiarIframe('https://www.ingero.cloud:3000/d-solo/dehpikez07x8gc/lineas-base?orgId=1&from=1743592926565&to=1743614526565&timezone=browser&theme=light&panelId=1&__feature.dashboardSceneSolo')">Líneas Bases Energéticas</button>
            <button class="botones" onclick="cambiarColor(this); cambiarIframe('https://www.ingero.cloud:3000/d-solo/cefmelr7tmigwc/energia-electrica-tablas-finales?orgId=1&from=1742320411065&to=1742666011065&timezone=browser&refresh=5s&theme=light&panelId=3&__feature.dashboardSceneSolo')">Objetivos Metas y Planes</button>
            <button class="botones" onclick="cambiarColor(this); cambiarIframe('https://www.ingero.cloud:3000/d-solo/cehpw1ui0efwgb/factores-de-conversion?orgId=1&from=1743594922118&to=1743616522118&timezone=browser&theme=light&panelId=1&__feature.dashboardSceneSolo')">Constantes Físicas</button>
        </div>
    </div>


    <div class="principal__inferior">
        <div class="inferior__tabla">
            <iframe id="miIframe" class="d3" src="https://www.ingero.cloud:3000/d-solo/dehpikez07x8gc/lineas-base?orgId=1&from=1743592926565&to=1743614526565&timezone=browser&theme=light&panelId=1&__feature.dashboardSceneSolo"></iframe>
        </div>
    </div>
</div>


<script>
    function cambiarIframe(nuevaURL) {
        document.getElementById("miIframe").src = nuevaURL;
    }
</script>
{% endblock content %}

