{% extends "core/index2.html" %}
{% load static %}


{% block title %}Constantes{% endblock title %}

{% block content %}     
<div class="principal__inferior">
    <div class="principal__inferior-izq">
        <div class="inferior-izq__selector">
            <div>
                <h1 class="selector__titulo">Constantes</h1>
                <div class="selector__botones">
                    <button class="botones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/eeeq935b21i4gb/ingresos?orgId=1&from=1741108316834&to=1741205621473&timezone=browser&panelId=1&__feature.dashboardSceneSolo')">Matriz Energética</button>
                    <button class="botones btn-producciones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/bef4lgfi3x1c0b/produccion?orgId=1&from=1741340255296&to=1741361855296&timezone=browser&panelId=1&__feature.dashboardSceneSolo')">Objetivos Metas y Planes</button>
                    <button class="botones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/eeeq935b21i4gb/dashboard1?orgId=1&from=1741182822830&to=1741204422830&timezone=browser&panelId=3')">Constantes Físicas</button>
                    <button class="botones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/bef4lgfi3x1c0b/produccion?orgId=1&from=1741340255296&to=1741361855296&timezone=browser&panelId=1&__feature.dashboardSceneSolo')">Consumos Futuros</button>
                    <button class="botones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/eeeq935b21i4gb/dashboard1?orgId=1&from=1741182822830&to=1741204422830&timezone=browser&panelId=3')">Plan de Recuperación de Datos</button>
                </div>
            </div>
        </div>
    </div>
    <div class="principal__inferior-der">
        <div class="tabla-container">
            <iframe id="miIframe" class="d3" src="http://localhost:3000/d-solo/cef8rkq3sg3y8c/constantes?orgId=1&from=1741589377589&to=1741610977589&timezone=browser&refresh=5s&panelId=1&__feature.dashboardSceneSolo"></iframe>
        </div>
    </div>
</div>


<script>
    function cambiarIframe(nuevaURL) {
        document.getElementById("miIframe").src = nuevaURL;
    }
</script>
{% endblock content %}

