{% extends "core/index_usuario.html" %}
{% load static %}


{% block title %}Constantes{% endblock title %}

{% block content %}     
<div id="contenido__principal" class="contenido__principal">
    <div class="contenido_inferior">
        <div class="principal__superior">
            <div class="superior__botones">
                <button id="boton4" class="botones" onclick="cambiarColor(this); cambiarIframe('https://foodcorp.sgen.ingero.cloud:3000/d-solo/dehpikez07x8gc/lineas-bases?orgId=1&from=1743756092365&to=1743777692365&timezone=browser&var-query0=2&theme=light&panelId=1&__feature.dashboardSceneSolo')">LÍNEAS BASES ENERGÉTICAS</button>
                <button id="boton5" class="botones" onclick="cambiarColor(this); cambiarIframe('https://foodcorp.sgen.ingero.cloud:3000/d-solo/eehwaaveo8c8wc/omp?orgId=1&from=1743966501251&to=1743988101251&timezone=browser&theme=light&panelId=2&__feature.dashboardSceneSolo')">OBJETIVOS METAS Y PLANES (OMP)</button>
                <div class="superior__botones-2 dropdown-menu-container-botones">
                    <button class="dropdown-toggle">SELECCIONAR OPCIÓN ▾</button>
                    <div class="dropdown-links-botones">
                        <button id="boton1" class="dropdown-boton-iframe" onclick="cambiarColor(this); cambiarIframe('https://foodcorp.sgen.ingero.cloud:3000/d-solo/dehpikez07x8gc/lineas-bases?orgId=1&from=1743756092365&to=1743777692365&timezone=browser&var-query0=2&theme=light&panelId=1&__feature.dashboardSceneSolo')">LÍNEAS BASES ENERGÉTICAS</button>
                        <button id="boton2" class="dropdown-boton-iframe" onclick="cambiarColor(this); cambiarIframe('https://foodcorp.sgen.ingero.cloud:3000/d-solo/eehwaaveo8c8wc/omp?orgId=1&from=1743966501251&to=1743988101251&timezone=browser&theme=light&panelId=2&__feature.dashboardSceneSolo')">OBJETIVOS METAS Y PLANES (OMP)</button>
                    </div>
                </div>
            </div>
        </div>


    <div class="principal__inferior">
        <div class="inferior__tabla">
            <iframe id="miIframe" class="d3"></iframe>
        </div>
    </div>
</div>


<script>
    function cambiarIframe(nuevaURL) {
        document.getElementById("miIframe").src = nuevaURL;
    }
</script>
{% endblock content %}

