{% extends "core/index_admin.html" %}
{% load static %}

{% block title %}Dashboards{% endblock title %}

{% block content %}
<div id="contenido__principal" class="contenido__principal_visible">
  <div class="contenido_inferior_dashboards">
    <div class="principal_dashboards dahboard1">
      <iframe src="https://foodcorp.sgen.ingero.cloud:3000/d-solo/eejlywtn4llhcd/pestac3b1-a-dashboard?orgId=1&from=1640995200000&to=1740787200000&timezone=browser&theme=light&panelId=1&__feature.dashboardSceneSolo"></iframe>
    </div>
    <div class="principal_dashboards dashboard2">
      <iframe src="https://foodcorp.sgen.ingero.cloud:3000/d-solo/eejlywtn4llhcd/pestac3b1-a-dashboard?orgId=1&from=1640995200000&to=1740787200000&timezone=browser&theme=light&panelId=2&__feature.dashboardSceneSolo"></iframe>
    </div>
    <div class="principal_dashboards dashboard3">
      <iframe src="https://foodcorp.sgen.ingero.cloud:3000/d-solo/eejm11gme60w0d/pestac3b1-a-dashboard-2?orgId=1&from=1701399600000&to=1745265698000&timezone=browser&theme=light&panelId=2&__feature.dashboardSceneSolo"></iframe>
    </div>
    <div class="principal_dashboards dashboard4">
      <iframe src="https://foodcorp.sgen.ingero.cloud:3000/d-solo/eejm11gme60w0d/pestac3b1-a-dashboard-2?orgId=1&from=1701399600000&to=1745265698000&timezone=browser&theme=light&panelId=1&__feature.dashboardSceneSolo"></iframe>
    </div>
  </div>
</div>


{% endblock content %}
