{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Web</title>
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static '../static/js/script.js' %}" defer></script> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">   
</head>



<body>
    {% block body__principal %}
        <div class="body_principal">
            
            {% block banner %}
                <div id="contenedor__banner" class="contenedor__banner"> 
                    <div class="banner_logo">
                        <img src="{% static 'img/logos/logo_ingero.png' %}" alt="">   
                    </div>
                    <div class="banner_menu">
                        <div class="menu_botones">
                            <a href="{% url 'ingresos_usuario' %}" class="menu-content {% if request.resolver_match.url_name == 'ingresos_usuario' %}activo{% endif %}">INGRESOS</a>
                            <a href="{% url 'constantes_usuario' %}" class="menu-content {% if request.resolver_match.url_name == 'constantes_usuario' %}activo{% endif %}">CONSTANTES</a>
                            <a href="{% url 'indicadores_usuario' %}" class="menu-content {% if request.resolver_match.url_name == 'indicadores_usuario' %}activo{% endif %}">INDICADORES</a>
                            <a href="{% url 'dashboards_usuario' %}" class="menu-content {% if request.resolver_match.url_name == 'dashboards_usuario' %}activo{% endif %}">DASHBOARDS</a>
                            
                        </div>
                    </div>

                    <div class="banner_logo_foodcorp">
                        <img src="{% static 'img/logos/logo-foodcorp.png' %}" alt="">   
                    </div>
                    

                </div>

            {% endblock banner %}
            {% block content %}
            {% if user.is_authenticated %}
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-boton">Cerrar sesión</button>
            </form>
            
            {% endif %}
            {% endblock content %}

        </div>
    {% endblock body__principal %}
</body>


</html>