<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Web</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div id="main__contenedor" class="main__contenedor">
        <div id="contenedor__banner" class="contenedor__banner"> 
            <div class="banner_logo logo-1">
                <img class="logo-1__img" src="../static/img/logos/logo-1__img.png" alt="">
            </div>
            <div class="banner_logo logo-2">
                <img class="logo-2__img" src="../static/img/logos/logo-1__img.png" alt="">
            </div>
        </div>

        <div class="contenedor__principal">
            <div class="principal__superior">
                <div class="superior__semaforo">
                    <div class="semaforo_btn btn-verde">
                        Verde
                    </div>
                    <div class="semaforo_btn btn-amarillo">
                        Amarillo
                    </div>
                    <div class="semaforo_btn btn-rojo">
                        Rojo
                    </div>
                    </div>
                <div class="superior__grafico1">

                </div>
                <div class="superior__grafico2">

                </div>              
            </div>

            <div class="principal__inferior">
                <div class="principal__inferior-izq">
                    <div class="inferior-izq__filtro">
                        <button class="filtro__ano btn-2023">Año</button>  
                    </div>
                    <div class="inferior-izq__filtro">
                        <button class="filtro__ano btn-2024">Año</button>  
                    </div>
                </div>
                <div class="principal__inferior-der">
                    <div class="inferior-der__tabla">
                        <table border="1" class="tabla__energia">
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>País</th>
                        </tr>
                        <tr>
                            <td>Juan</td>
                            <td>25</td>
                            <td>Chile</td>
                        </tr>
                        <tr>
                            <td>María</td>
                            <td>30</td>
                            <td>México</td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
        
        </div>
    </div>



    
</body>
</html>