{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Web</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static '../static/js/script.js' %}" defer></script>    
</head>
<body>
    <div id="main__contenedor" class="main__contenedor">
        <div id="contenedor__banner" class="contenedor__banner"> 
            <div class="banner_logo logo-1">
                <img class="logo-1__img" src="../static/img/logos/logo-1__img.png" alt="">
            </div>
            <div class="logo_user logo-user-1">
                <img class="logo_account" src="../static/img/logos/account.png" alt="">
            </div>
            <span id="reloj">Cargando...</span>
        </div>
        <div class="contenedor__principal">
            <div class="principal__superior">
                <div class="superior__semaforo">
                    <div class="foco" id="foco"></div>
                </div>
                <div class="superior__graficos">
                    <button class="flecha izquierda oculto">←</button>
                    <div class="graficos__scrollh">
                        <!-- Dashboard 1 -->
                        <div class="grafico">
                            <canvas id="miniatura1"></canvas>
                            <button class="open-modal" data-src="{% url 'dashboard1' %}">Abrir</button>
                        </div>
                    
                        <!-- Dashboard 2 -->
                        <div class="grafico">
                            <canvas id="miniatura2"></canvas>
                            <button class="open-modal" data-src="{% url 'dashboard2' %}">Abrir</button>
                        </div>
                    
                        <!-- Dashboard 3 -->
                        <div class="grafico">
                            <canvas id="miniatura3"></canvas>
                            <button class="open-modal" data-src="{% url 'dashboard3' %}">Abrir</button>
                        </div>
                    
                        <!-- Dashboard 4 -->
                        <div class="grafico">
                            <canvas id="miniatura4"></canvas>
                            <button class="open-modal" data-src="{% url 'dashboard4' %}">Abrir</button>
                        </div>
                    
                        <!-- Dashboard 5 -->
                        <div class="grafico">
                            <canvas id="miniatura5"></canvas>
                            <button class="open-modal" data-src="{% url 'dashboard5' %}">Abrir</button>
                        </div>
                    </div>
                    
                    <button class="flecha derecha">→</button>
                </div>
            </div>
            
            <!-- Modal -->
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close-modal">&times;</span>
                    <iframe id="dashboard-frame" src="" frameborder="0" width="100%" height="500px"></iframe>
                </div>
            </div>

            
            <div class="principal__inferior">
                <div class="principal__inferior-izq">
                    <div class="inferior-izq__filtro">
                        <button class="filtro__ano btn-2023">Año</button>  
                    </div>
                </div>
                <div class="principal__inferior-der">
                    <div class="inferior-der__tabla">
                        <table border="1" class="tabla__energia">
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>País</th>
                        </tr>
                        <tr>
                            <td>Juan</td>
                            <td>25</td>
                            <td>Chile</td>
                        </tr>
                        <tr>
                            <td>María</td>
                            <td>30</td>
                            <td>México</td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>