{% extends "core/index.html" %}
{% load static %}


{% block title %}Indicadores{% endblock title %}

{% block content %}          
<div id="contenido__principal" class="contenido__principal">
    <div class="principal__superior">
                <h1 class="superior__titulo">Indicadores</h1>
                <div class="superior__botones">
                    <button class="botones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/feeq9vksqsav4f/seguimiento?orgId=1&from=1741012767206&to=1741012767532&timezone=browser&refresh=5m&panelId=2&__feature.dashboardSceneSolo')">Mensual</button>
                    <button class="botones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/feeq9vksqsav4f/seguimiento?orgId=1&from=1741012767206&to=1741012767532&timezone=browser&refresh=5m&panelId=2&__feature.dashboardSceneSolo')">Anual</button>
                    <button class="botones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/feeq9vksqsav4f/seguimiento?orgId=1&from=1741012767206&to=1741012767532&timezone=browser&refresh=5m&panelId=2&__feature.dashboardSceneSolo')">Desviaciones</button>
                </div>
    
        <div class="principal__inferior">
            <div class="inferior__tabla">
                <iframe id="miIframe" class="d3" src="http://190.114.253.120:3000/d-solo/cefmelr7tmigwc/new-dashboard?orgId=1&from=1741786701357&to=1741808301357&timezone=browser&theme=light&panelId=1&__feature.dashboardSceneSolo"></iframe>
            </div>
        </div>
    </div>
</div>

<script>
    function cambiarIframe(nuevaURL) {
        document.getElementById("miIframe").src = nuevaURL;
    }
</script>

{% endblock content %}