         
{% extends "core/index2.html" %}
{% load static %}


{% block title %}Indicadores{% endblock title %}

{% block content %}          
<div class="principal__inferior">
    <div class="principal__inferior-izq">
        <div class="inferior-izq__selector">
            <div>
                <h1 class="selector__titulo">Seguimiento</h1>
                <div class="selector__botones">
                    <button class="botones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/feeq9vksqsav4f/seguimiento?orgId=1&from=1741012767206&to=1741012767532&timezone=browser&refresh=5m&panelId=2&__feature.dashboardSceneSolo')">Mensual</button>
                    <button class="botones btn-producciones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/feeq9vksqsav4f/seguimiento?orgId=1&from=1741012767206&to=1741012767532&timezone=browser&refresh=5m&panelId=2&__feature.dashboardSceneSolo')">Anual</button>
                    <button class="botones" onclick="cambiarColor(this); cambiarIframe('http://localhost:3000/d-solo/feeq9vksqsav4f/seguimiento?orgId=1&from=1741012767206&to=1741012767532&timezone=browser&refresh=5m&panelId=2&__feature.dashboardSceneSolo')">Desviaciones</button>
                </div>
            </div>
        </div>
    </div>
    <div class="principal__inferior-der">
        <div class="tabla-container">
            <iframe id="miIframe" class="d3" src="http://localhost:3000/d-solo/feeq9vksqsav4f/seguimiento?orgId=1&from=1741012767206&to=1741012767532&timezone=browser&refresh=5m&panelId=2&__feature.dashboardSceneSolo"></iframe>
        </div>
    </div>
</div>


<script>
    function cambiarIframe(nuevaURL) {
        document.getElementById("miIframe").src = nuevaURL;
    }
</script>

{% endblock content %}