{% extends "core/index_admin.html" %}
{% load static %}


{% block title %}Ingresos{% endblock title %}

{% block content %}
<div id="contenido__principal" class="contenido__principal">
    <div class="principal__superior">
        <div class="superior__botones">
            <button class="botones" onclick="cambiarIframe('https://www.ingero.cloud:3000/d-solo/cefmelr7tmigwc/tablas-finales-no-borrar?orgId=1&from=1742320411065&to=1742666011065&timezone=browser&refresh=5s&theme=light&panelId=3&__feature.dashboardSceneSolo')">Consumos de Energía Eléctrica</button>
            <button class="botones" onclick="cambiarIframe('https://190.114.253.120:3000/d-solo/cefmelr7tmigwc/new-dashboard?orgId=1&from=1741786701357&to=1741808301357&timezone=browser&theme=light&panelId=1&__feature.dashboardSceneSolo')">Consumo Energía Térmica</button>
            <button class="botones" onclick="cambiarIframe('https://www.ingero.cloud:3000/d-solo/begt0v9mefy0wc/producciones?orgId=1&from=1743161032377&to=1743182632377&timezone=browser&theme=light&panelId=1&__feature.dashboardSceneSolo')">Ingreso de Datos</button>
        </div>
    </div>
            
    <div class="principal__inferior">
        <div class="inferior__tabla">
            <iframe id="miIframe" class="d3" src="https://www.ingero.cloud:3000/d-solo/cefmelr7tmigwc/tablas-finales-no-borrar?orgId=1&from=1742320411065&to=1742666011065&timezone=browser&refresh=5s&theme=light&panelId=3&__feature.dashboardSceneSolo"></iframe>
        </div>
    </div>
    
</div>

<script>
    function cambiarIframe(nuevaURL) {
        document.getElementById("miIframe").src = nuevaURL;
    }
</script>
{% endblock content %}
