{% extends "core/index2.html" %}
{% load static %}


{% block title %}Ingresos{% endblock title %}

{% block content %}
<div class="principal__inferior">
    <div class="principal__inferior-izq">
        <div class="inferior-izq__selector">
            <h1 class="selector__titulo">Ingresos</h1>
            <div class="selector__botones">
                <button class="botones" onclick="cambiarIframe('http://190.114.253.120:3000/d-solo/cefmelr7tmigwc/new-dashboard?orgId=1&panelId=1')">Consumos de Energía</button>
                <button class="botones" onclick="cambiarIframe('http://localhost:3000/d-solo/bef4lgfi3x1c0b/produccion?orgId=1&panelId=1')">Producciones</button>
                <button class="botones" onclick="cambiarIframe('http://localhost:3000/d-solo/eeeq935b21i4gb/dashboard1?orgId=1&panelId=3')">Costos de Energía</button>
            </div>
        </div>
    </div>
    <div class="principal__inferior-der">
        <div class="tabla-container">
            <iframe id="miIframe" class="d3" src="http://190.114.253.120:3000/d-solo/cefmelr7tmigwc/new-dashboard?orgId=1&panelId=1"></iframe>
        </div>
    </div>
</div>

<script>
    function cambiarIframe(nuevaURL) {
        document.getElementById("miIframe").src = nuevaURL;
    }
</script>
{% endblock content %}
