{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Monitoreo</title>
  <link rel="stylesheet" href="{% static '../static/css/styles_monitoreo.css' %}" />
  
  <script src="{% static 'js/script_monitoreo.js' %}" defer></script> 
  <link rel="icon" href="{% static 'img/logos/LOGO2+ALFA.png' %}" sizes="64x64" type="image/png">
  <meta name="csrf-token" content="{{ csrf_token }}">

  <!-- Librerías externas -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/Draggable.min.js"></script>
  <script src="https://unpkg.com/@panzoom/panzoom/dist/panzoom.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leader-line"></script>
  <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.2/dist/svg.min.js"></script>


  <!-- Tippy.js -->
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

</head>
<body>

<div id="canvas-wrapper">
  <div id="svg-connections" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; pointer-events: none;"></div>

  <div id="overlay-canvas"></div>
  <div id="loader-monitoreo">
    <div class="loader-brand-monitoreo">FOODCORP</div>
    <div class="loader-bar-monitoreo"></div>
  </div>

  <div id="canvas"></div>
  </div>
  <div id="loader-seccion">
    <div class="spinner-seccion"></div>
  </div>

<!-- Modal -->
<div id="grafanaModal">
  <div class="contenedor_modal">
    <div id="loader" class="spinner-overlay">
      <div class="energy-spinner"></div>
      <div id="loader-text" class="loader-text">FOODCORP</div>
    </div>
    <button class="cerrarModal" onclick="cerrarModal()">✖</button>
    <iframe id="grafanaIframe" src="" frameborder="0"></iframe>
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar">
  <div class="menu-section">
    <h4>Empalmes</h4>
    <ul>
      <li onclick="cambiarCanvas('Vista General Planta')">Vista General Planta</li>
      <li onclick="cambiarCanvas('Empalme 1 Planta Harina')">Empalme 1 Planta Harina</li>
      <li onclick="cambiarCanvas('Empalme 2 Planta Congelado')">Empalme 2 Planta Congelado</li>
      <li onclick="cambiarCanvas('Empalme 3 Pontón Tor')">Empalme 3 Pontón Tor</li>
    </ul>
  </div>
  <div class="menu-section">
    <h4>Vista Procesos</h4>
    <ul>
      <li onclick="cambiarCanvas('General Flota')">General Flota</li>
      <li onclick="cambiarCanvas('Sala de Calderas')">Sala de Calderas</li>
      <li onclick="cambiarCanvas('Planta Harina')">Planta Harina</li>
      <li onclick="cambiarCanvas('Planta Congelado')">Planta Congelado</li>
    </ul>
  </div>
  <div class="menu-section">
    <h4>Ingreso de Producción</h4>
    <ul>
      <li onclick="cambiarCanvas('Flota')">Flota</li>
      <li onclick="cambiarCanvas('Planta Harina/Congelados')">Planta Harina/Congelados</li>
    </ul>
  </div>
  <!-- <div class="menu-section">
    <h4>Históricos</h4>
    <ul>
      <li onclick="descargarDatosMensuales()">Descargar Datos Mensuales</li>
    </ul>
  </div> -->
  <div class="cerrar-sesion">
    <button onclick="cerrarSesion()">Menú principal</button>
  </div>
</div>

<!-- Scripts -->

  

  
</body>
</html>
