{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Menú</title>
  <link rel="stylesheet" href="{% static '../static/css/styles_menu.css' %}" />
  <link rel="icon" href="{% static 'img/logos/LOGO2+ALFA.png' %}" sizes="64x64" type="image/png">
  <link rel="preload" href="{% static 'img/menu/img_flotante_izq2.jpg' %}" as="image">
  <link rel="preload" href="{% static 'img/menu/img_flotante_der2.png' %}" as="image">
</head>
<body>
  <div class="background_menu">
    <img src="{% static 'img/login/SustainableProduction_184162826.5120.webp' %}" alt="" class="background__fondo">
    <div class="glass-effect_menu"></div>
    <div class="content_menu">
      <div class="menu_principal_content">

        <!-- Tarjetas arriba-->
        <div class="card_3d">
          <!-- <a href="{% url 'monitoreo' %}"> -->
            <div class="card_inner">
              <h2 class="card_title">Energía</h2>
              <img src="{% static 'img/menu/1Energía.jpg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Monitoreo integral del consumo de energía eléctrica y térmica en la planta.
              </div>
            </div>
          </a>
        </div>
        <div class="card_3d">
          <a href="{% url 'ingresos_admin' %}">
            <div class="card_inner">
              <h2 class="card_title">Gestión de Energía</h2>
              <img src="{% static 'img/menu/2Gestión de Energía.jpg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Seguimiento del Sistema de Gestión de Energía (SGEn) conforme a la norma ISO 50.001. 
              </div>
            </div>
          </a>
        </div>
        <div class="card_3d disabled">
          <a href="{% url 'monitoreo' %}">
            <div class="card_inner">
              <h2 class="card_title">Agua Industrial</h2>
              <img src="{% static 'img/menu/3Agua Industrial.jpg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Gestión del uso de agua en procesos industriales tales como bocatomas, emisarios y sistemas de distribución de agua industrial. 
              </div>
            </div>
          </a>
        </div>
        <div class="card_3d disabled">
          <a href="{% url 'monitoreo' %}">
            <div class="card_inner">
              <h2 class="card_title">Refrigeración</h2>
              <img src="{% static 'img/menu/4Refrigeración.jpeg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Monitoreo de sistemas de refrigeración, incluyendo compresores, torres de enfriamiento, chillers, evaporadores e intercambiadores de calor. Evaluación del rendimiento mediante el cálculo del COP.
              </div>
            </div>
          </a>
        </div>
        <div class="card_3d disabled">
          <a href="{% url 'monitoreo' %}">
            <div class="card_inner">
              <h2 class="card_title">Plantas Térmicas</h2>
              <img src="{% static 'img/menu/5Plantas Térmicas.jpeg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Supervisión de plantas térmicas enfocada en el consumo de combustibles, producción de vapor o agua caliente, eficiencia energética y calidad de la combustión. Incluye control de emisiones (material particulado), detección de humos visibles y cumplimiento del Decreto Supremo N°10.
              </div>
            </div>
          </a>
        </div>
        <div class="card_3d disabled">
          <a href="{% url 'monitoreo' %}">
            <div class="card_inner">
              <h2 class="card_title">Aire Comprimido Ventiladores y Bombas</h2>
              <img src="{% static 'img/menu/6Aire Comprimido Ventiladores y Bombas.jpg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Monitoreo de sistemas de aire comprimido, considerando flujos de aire, detección de fugas, consumo eléctrico, alertas de rendimiento, consumos específicos, eficiencia energética en bombas y ventiladores.
              </div>
            </div>
          </a>
        </div>
        <div class="card_3d disabled">
          <a href="{% url 'monitoreo' %}">
            <div class="card_inner">
              <h2 class="card_title">Sistema de Extracción</h2>
              <img src="{% static 'img/menu/7Sistema de Extracción.jpg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Supervisión de sistemas de extracción de vahos, ventilación industrial y transporte neumático. Se controlan variables como flujos, presiones y temperaturas para asegurar condiciones operativas seguras y eficientes.
              </div>
            </div>
          </a>
        </div>
        <div class="card_3d disabled">
          <a href="{% url 'monitoreo' %}">
            <div class="card_inner">
              <h2 class="card_title">Barcos</h2>
              <img src="{% static 'img/menu/8Barcos.jpeg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Monitoreo del consumo de diésel en embarcaciones utilizadas en operaciones industriales. Incluye control de niveles de estanques, eficiencia energética de motores y generadores, distancia recorrida y ubicación georreferenciada.
              </div>
            </div>
          </a>
        </div>
        <div class="card_3d disabled">
          <a href="{% url 'monitoreo' %}">
            <div class="card_inner">
              <h2 class="card_title">Pozos y Derechos de agua</h2>
              <img src="{% static 'img/menu/9Pozos y Derechos de agua.jpeg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Supervisión continua de pozos de captación de agua, asegurando el cumplimiento de la normativa de la DGA. Se monitorean caudales instantáneos, volúmenes acumulados (totalizadores) y niveles freáticos (dinámicos y estáticos).
              </div>
            </div>
          </a>
        </div>
        <div class="card_3d disabled">
          <a href="{% url 'monitoreo' %}">
            <div class="card_inner">
              <h2 class="card_title">Olores</h2>
              <img src="{% static 'img/menu/10Olores.jpg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Monitoreo de emisiones de olores conforme al marco normativo vigente. 
              </div>
            </div>
          </a>
        </div>
        <div class="card_3d disabled">
          <a href="{% url 'monitoreo' %}">
            <div class="card_inner">
              <h2 class="card_title">Manejo de stock</h2>
              <img src="{% static 'img/menu/11Manejo de stock.jpeg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Monitoreo de combustibles líquidos (diésel), aceites, control de niveles de estanques, stocks, solidos y gaseosos, balances, entre otros.

              </div>
            </div>
          </a>
        </div>
        <div class="card_3d disabled">
          <a href="{% url 'monitoreo' %}">
            <div class="card_inner">
              <h2 class="card_title">Otros Sistemas</h2>
              <img src="{% static 'img/menu/12Otros Sistemas.jpeg' %}" alt="Base" class="base_img">
              <div class="hover_text">
                Visualización y gestión de variables generales de proceso mediante integración con sistemas SCADA, alertas personalizadas y monitoreo continuo.
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
